<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collaspable collaspable--expanded footer__section">
      <header class="collaspable__header">
        <h2 class="collaspable__heading footer__heading">Products</h2>
        <svg class="icon icon--white collaspable__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collaspable__content">
        <ul class="list">
          <li><a href="#">Webite</a></li>
          <li><a href="#">Automated Wordpress</a></li>
          <li><a href="#">Migration</a></li>
        </ul>
      </div>
    </section>
    <section class="collaspable footer__section">
      <header class="collaspable__header">
        <h2 class="collaspable__heading footer__heading">Products</h2>
        <svg class="icon icon--white collaspable__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collaspable__content">
        <ul class="list">
          <li><a href="#">Webite</a></li>
          <li><a href="#">Automated Wordpress</a></li>
          <li><a href="#">Migration</a></li>
        </ul>
      </div>
    </section>
    <section class="collaspable footer__section">
      <header class="collaspable__header">
        <h2 class="collaspable__heading footer__heading">Products</h2>
        <svg class="icon icon--white collaspable__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collaspable__content">
        <ul class="list">
          <li><a href="#">Webite</a></li>
          <li><a href="#">Automated Wordpress</a></li>
          <li><a href="#">Migration</a></li>
        </ul>
      </div>
    </section>
    <section class="footer__brand">
      <img src="images/logo.png" alt="" />
      <p class="footer__copyright">Copyright 2021 Jamiul Haque</p>
    </section>
  </div>
</footer>
